<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Device Login</title>
  </head>

  <body>
    <p>Dear {{name}},</p>

    <p>We noticed that your account was accessed from a new device or location.
      If you recognize this activity, you don't need to do anything else. If you
      don't recognize this activity, please secure your account.</p>

    <table>
      <tr>
        <td>Date and Time:</td>
        <td>{{date}}</td>
      </tr>
      <tr>
        <td>IP Address:</td>
        <td>{{ip_address}}</td>
      </tr>
    </table>

    <p>Thank you for your attention to this matter,</p>

    <p>Your Team</p>
  </body>

</html>