<!DOCTYPE html PUBLIC>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Our Site!</title>

  <style type="text/css" media="screen">
      @media screen {
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        * {
            font-family: 'Poppins', sans-serif !important;
        }
      }
  </style>
</head>

<body style="
padding:0; 
margin:0; 
display:block; 
background:#fff; 
-webkit-text-size-adjust:none;"
>
<table align="center" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" width="100%">

    <div>

      <table cellspacing="0" cellpadding="0" width="300">
        <tr>
          <td align="center">

          <!--content-->
          <table cellspacing="0" cellpadding="0" width="380">
            <tr>
              <td style="background-color:rgba(194, 201, 209, 0.5);padding-top: 25px;">
              <div>
                
                <p style="
                  font-family: Poppins;
                  font-size: 26px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 36px;
                  letter-spacing: 0px;
                  text-align: center;
                  color: rgba(249, 102, 58, 1);">Welcome to Our Site!</p>

                <div style="padding:0px 42px 10px" >
                    <div style="
                      font-family: Poppins;
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 18px;
                      letter-spacing: 0px;
                      text-align: left;">
                        <div style="color: #000000">
                            <p style="margin-top: 20"><strong>Hi {{name}}!</strong></p>
                            <p style="margin-top: 20">Thanks for registering for an account on our website! Before we get started, we just need to confirm that this is you. Click on the button below to verify your email address.</p>
                            <p style="margin-top: 20">Please note, this verification link will expire in 24 hours.</p>
                        </div>
                        
                        <p style="color: #182e7c; margin: 20px 0px 30px 0"><strong>{{email}}</strong></p>  
                    </div>

                    <div style="text-align: center;">
                         <a href= {{url}} style="
                          background-color: #182e7c;
                          border: none;
                          color: white;
                          padding:10px 20px;
                          text-align: center;
                          text-decoration: none;
                          display: inline-block;
                          font-size: 16px;
                          margin-top: 20px;
                          line-height:120%;
                          cursor: pointer;
                          font-size: 16px; line-height: 19.2px;
                          font-weight: 600;
                          border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;">Verify Email</a>
                    </div>
                    
                    <div style="
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0px;
                    text-align: left;">
                        <div style="color: #000000">
                            <p style="margin-top: 40">If you did not create an account with us, please ignore this email.</p>
                        </div>
                    </div>

                </div>

              </td>
            </tr>
          </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
</body>
</html>
